body {
  @apply text-gray-600;

  background-color: #fafbff;
}

h1,
h2,
h3,
h4 { @apply text-slate-800 font-oswald font-medium; }

h2,
h3,
h4 { @apply mt-2 mb-4; }

h2 { @apply text-2xl; }

h3,
h4 { @apply text-xl; }

p { @apply mb-4; }

ul,
ol { @apply pl-5 mb-4; }

ul { @apply list-disc; }

ol { @apply list-decimal; }

ul li,
ol li { @apply mb-1; }

blockquote { @apply italic pl-4 mb-4 border-l-4 border-slate-800; }

hr {
  @apply my-10 border-t border-slate-800 opacity-20;
}

p code,
li code,
a code {
  @apply bg-slate-800 rounded text-white;

  padding: 1px 3px;
  font-size: 13px;
}

.nuxt-content-container a,
.nuxt-content a { @apply text-slate-800 font-semibold underline; }

.nuxt-content-highlight { @apply mb-4; }

img { @apply rounded-md border; }

iframe { @apply rounded-md border w-full aspect-video mb-6; }

strong { @apply text-slate-800; }

audio { @apply w-full; }

mark {
  @apply text-gray-600;

  background: hsl(38deg 100% 50% / 30%);
}

::selection {
  background: hsl(38deg 100% 50% / 30%);
}

::-moz-selection {
  background: hsl(38deg 100% 50% / 30%);
}

.shadow {
  position: fixed;
  top: -50px;
  right: 0;
  filter: blur(8px);
  opacity: 0.3;
  z-index: -1;
}

@media screen and (max-width: 1440px) {
  .shadow {
    display: none;
  }
}
